.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 882px;
  margin: 50px auto 0;
  row-gap: 20px;
}

.photos__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
}

.photos__trash-button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  padding: 0;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.photos__trash-button:hover {
  opacity: 0.8;
}

.photos__imgPopup-button {
  padding: 0;
  width: 282px;
  height: 282px;
  cursor: pointer;
  border: none;
}

.photos__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
  width: 246px;
}

.photos__img {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.photos__title {
  max-width: 208px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photos__like-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 19px;
  transition: opacity 0.3s ease-in-out;
  outline: inherit;
  color: inherit;
}

.photos__like-count {
  /*margin-left: 8px; Añade un margen si es necesario */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.icon_like-heart { 
  transition: opacity 0.3s ease-in-out;
}

.icon_like-heart:hover {
  opacity: 0.8;
}

.icon_like-heart_activated {
  background-image: url(/src/images/Icons/bheart.png);
}

/* iPads and smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 480px) and (max-width: 820px) {
  .photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 36px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 489px) {
  .photos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
  }

  .photos__title {
    margin-left: 0px;
  }
}
